<header>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark  fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
        <img src="../assets/GrabABeerLogo.png" height="50px">
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto smooth-scroll">
        <li class="nav-item">
          <a class="nav-link" href="#intro">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#adv-search">Advanced Searching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#result-section">Map</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

  <div id="intro" class="view">
    <div class="mask rgba-black-strong">
      <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-md-10">
            <img src="../assets/GrabABeerLogo.png" style="width:700px;">
            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">
              <!--<i class="fa fa-beer ml-2 fa-0.5x"></i> Grab a beer<i class="fa fa-beer ml-2 fa-0.5x"></i>-->
            </h2> 
            <!-- Divider -->
            <hr class="hr-light">
            <!-- Description -->
            <h4 class="white-text my-4">With this app you will never have problem to find your favourite beer.</h4>
            <form class="form-inline" (submit)="onSubmit($event)">
              <input class="form-control form-control-sm ml-3 w-100" type="text" placeholder="Type beer you're looking for.." 
              (change)="filterExact('name', nameSearch.value)" name="nameSearch" #nameSearch>

              <div class="row d-flex justify-content-center ">

              </div>
            </form>
            <!-- <div class="active-purple-4 mb-4">
              <input class="form-control" type="text" placeholder="Type beer you're looking for..." aria-label="Search" (keydown.enter)="onKeydown($event)">
            </div> -->
            <div class="row d-flex justify-content-center mb-4 mt-4">
              <!-- <button type="button" class="btn btn-outline-white">Search<i class="fa fa-search ml-4"></i></button> -->
              <a href="#adv-search" class="btn btn-outline-white">Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<app-adv-search></app-adv-search>
<app-result-section [beers]="(beers)"></app-result-section>